
<div>
    <h2 class="page-title">@ViewBag.Title</h2>

    <div class="buttons">
        <a class="item" asp-action="AllMarvelComics" asp-controller="SearchResult">
            <p><span class="bg"></span><span class="base"></span><span class="text">All Marvel comics</span></p>
        </a>
        <a class="item" asp-action="AllAnimeFromAOT" asp-controller="SearchResult">
            <p><span class="bg"></span><span class="base"></span><span class="text">All anime from Attack on Titan</span></p>
        </a>        <a class="item" asp-action="AllTakaraWithPriceHigherThan40" asp-controller="SearchResult">
            <p><span class="bg"></span><span class="base"></span><span class="text">All Takara with price higher than 40</span></p>
        </a>        <a class="item" asp-action="AllMHAWithPriceLowerThan10" asp-controller="SearchResult">
            <p><span class="bg"></span><span class="base"></span><span class="text">All My Hero Academia with price lower than 10</span></p>
        </a>

    </div>
</div>